* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Neucha", 'Arial', sans-serif; }

a {
  text-decoration: none; }

.wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (max-width: 1150px) {
    .wrapper {
      padding-left: 20px;
      padding-right: 20px; } }

.topline {
  display: flex;
  background-color: #c4dcf1;
  border-bottom: 1px solid #8e8e8e;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (max-width: 1150px) {
    .topline {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 992px) {
    .topline {
      height: 100px;
      display: flex;
      align-items: center; } }
  @media screen and (max-width: 497px) {
    .topline {
      height: 25vh; } }
  @media screen and (max-width: 320px) {
    .topline {
      height: 25vh; } }

.inner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  flex-wrap: nowrap; }
  @media screen and (max-width: 992px) {
    .inner {
      justify-content: center;
      align-items: center; } }
  @media screen and (max-width: 497px) {
    .inner {
      flex-direction: column; } }
  .inner button {
    font-family: "Neucha";
    font-size: 14px;
    text-transform: uppercase;
    width: 236px;
    height: 30px;
    color: white;
    background-color: #8567b2;
    border: none;
      border-radius: 5px;
    word-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    @media screen and (max-width: 1200px) {
      .inner button {
        font-size: 16px; } }
    @media screen and (max-width: 992px) {
      .inner button {
        font-size: 14px;
        height: 40px;
        margin-left: 10px;
        margin-right: 10px; } }
    @media screen and (max-width: 769px) {
      .inner button {
        font-size: 12px; } }
    .inner button:hover {
      border: 1px solid black; }
    .inner button:active {
      border: 1px solid red; }
  @media screen and (max-width: 992px) {
    .inner .mail {
      margin: 0;
      padding: 5px; } }
  @media screen and (max-width: 497px) {
    .inner .mail {
      padding-bottom: 5px; } }

.socials {
  display: flex;
  align-items: center;
  justify-content: center; }
  .socials div {
    width: 100%;
    justify-content: space-around; }

.socials img {
  width: 24px;
  margin-left: 5px; }
  @media screen and (max-width: 497px) {
    .socials img {
      padding: 0;
      width: 40px; } }

.btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 30px;
  height: 7vh;
  background-color: #8567b2;
  outline: 2px solid black; }
  @media screen and (min-width: 770px) {
    .btn-menu {
      display: none; } }

#nav {
  border-bottom: 1px solid #8e8e8e;
  margin: 0 auto;
  height: 60px;
  line-height: 60px;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (max-width: 1150px) {
    #nav {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 769px) {
    #nav {
      padding: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 397px;
      align-content: center;
      z-index: 1;
      display: none; } }
  @media screen and (max-width: 497px) {
    #nav {
      padding: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: calc(100vh - 25vh - 7vh);
      align-content: center;
      z-index: 1;
      display: none; } }
  #nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
    list-style: none;
    flex-wrap: wrap;
    height: 60px; }
    @media screen and (max-width: 769px) {
      #nav ul {
        display: block;
        text-align: center; } }
    #nav ul li {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      text-transform: uppercase;
      color: #4b2d8b; }
      #nav ul li:hover {
        text-decoration: underline; }
        @media screen and (max-width: 497px) {
          #nav ul li:hover {
            text-decoration: none;
            background-color: #003333; } }
      @media screen and (max-width: 1240px) {
        #nav ul li {
          font-size: 18px; } }
      @media screen and (max-width: 992px) {
        #nav ul li {
          height: 50px;
          font-size: 15px;
          font-weight: bold; } }
      @media screen and (max-width: 769px) {
        #nav ul li {
          padding: 0;
          height: calc(397px / 7);
          line-height: calc(397px / 7);
          font-size: 22px;
          outline: 1px solid black;
          background-color: #4b2d8b;
          opacity: 0.9; } }
      @media screen and (max-width: 497px) {
        #nav ul li {
          height: calc(68vh / 7);
          line-height: calc(68vh / 7);
          font-size: 26px;
          outline: 1px solid black;
          background-color: #4b2d8b;
          opacity: 0.9; } }
      @media screen and (min-width: 770px) and (max-width: 886px) {
        #nav ul li {
          font-size: 12px; } }
      @media screen and (max-width: 769px) {
        #nav ul li a {
          color: #fff;
          display: block; } }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 397px;
  border-bottom: 3px solid #6640b6;
  box-shadow: 0px 5px 10px 2px #c0c0c0;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-position: contain;
  background-size: cover; }
  @media screen and (max-width: 768px) {
    header {
      z-index: -1; } }
  @media screen and (max-width: 497px) {
    header {
      height: calc(100vh - 25vh - 7vh); } }
  header .logo {
    display: block;
    max-width: 90%;
    height: auto;
    margin: 0 auto; }

.product {
  padding-bottom: 25px;
  border-bottom: 3px solid #6640b6;
  box-shadow: 0px 5px 10px 2px #000000; }

.aboutProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #4b2d8b;
  font-size: 50px;
  text-align: center;
  height: 120px; }

.aboutImg {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 497px) {
    .aboutImg {
      padding: 5px; } }
  @media screen and (max-width: 768px) {
    .aboutImg {
      padding-bottom: 30px; } }
  .aboutImg img {
    min-width: 70%;
    height: auto; }

.block1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap; }
  @media screen and (max-width: 768px) {
    .block1 {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; } }
  .block1 .textAbout {
    font-size: 23px;
    color: #4b2d8b;
    margin-left: 30px; }
    @media screen and (max-width: 992px) {
      .block1 .textAbout {
        font-size: 20px;
        margin-left: 0; } }
    @media screen and (max-width: 768px) {
      .block1 .textAbout {
        font-size: 23px;
        text-align: center; } }
    @media screen and (max-width: 497px) {
      .block1 .textAbout {
        font-size: 20px; } }

.btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 10px; }
  @media screen and (max-width: 768px) {
    .btn {
      justify-content: center; } }

.catalog {
  font-family: "Neucha";
  font-size: 18px;
  text-transform: uppercase;
  width: 236px;
  height: 30px;
  color: white;
  background-color: #8567b2;
  border: none;
    border-radius: 5px;
  word-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .catalog:hover {
    border: 1px solid black; }
  .catalog:active {
    border: 1px solid red; }
  @media screen and (max-width: 768px) {
    .catalog {
      width: 400px;
      height: 60px;
      font-size: 23px; } }

.galery {
  display: flex;
  flex-direction: column; }

.galery-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 100%; }
  @media screen and (max-width: 992px) {
    .galery-images {
      justify-content: center;
      flex-wrap: nowrap; } }
  .galery-images div {
    margin: 5px; }
  .galery-images img {
    max-width: 100%;
    height: auto; }

.galery-images2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 100%;
  margin: 5px; }
  @media screen and (max-width: 992px) {
    .galery-images2 {
      justify-content: center;
      flex-wrap: nowrap; } }
  .galery-images2 img {
    max-width: 100%;
    height: auto; }

.galery-images2_item:first-child {
  margin-right: 10px; }

.advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  background-color: #d4c9ec;
  padding-bottom: 25px;
  border-bottom: 3px solid #6640b6;
  box-shadow: 0px 5px 10px 2px #c0c0c0; }
  @media screen and (max-width: 780px) {
    .advantages {
      box-sizing: border-box; } }

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (max-width: 1150px) {
    .flex-wrapper {
      padding-left: 20px;
      padding-right: 20px; } }

.advantages-title {
  display: block;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #4b2d8b;
  font-size: 50px; }
  @media screen and (max-width: 780px) {
    .advantages-title {
      font-size: 35px; } }

.advantages-elements {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 100%; }
  @media screen and (max-width: 780px) {
    .advantages-elements {
      flex-wrap: wrap; } }

.advantages-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% / 4); }
  @media screen and (max-width: 780px) {
    .advantages-image {
      flex-wrap: wrap;
      width: 100px;
      padding: 10px; } }
  .advantages-image img {
    padding-top: 20px;
    width: 50%;
    height: auto; }

.advantages-image_title {
  text-align: center;
  padding: 20px;
  color: #6640b6;
  font-size: 30px; }
  @media screen and (max-width: 780px) {
    .advantages-image_title {
      font-size: 20px; } }
